# Django Settings
SECRET_KEY=django-insecure-h2^ivd3ci&h9lbeq1lf1i10d(!4gkhv(npr9b4z1a$xbu(-g%!
DEBUG=True
LOGGING_DB_ENABLED=True

# Database Settings
DB_NAME=repay_sync_dev_2
DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=3306